.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: auto auto auto auto;
}

.App-title {
  text-align: center;
  margin-top: 32px;
}
.App-title h1 {
  margin: 0;
  font-size: 3em;
}

.Login-avatar {
  margin: 20px 0 40px 0;
  height: 100px;
}

.Login-btn {
  display:inline-block !important;
  margin: auto;
}
.Registration-btn {
  display: inline-block !important;
  margin: '0 8px';
}

*{
  box-sizing: border-box;
}
Layout{
  width: 750px;
  height: 800px;
  background: #eff3f7;
  margin: auto;
  font-size: 0;
  border-radius: 5px;
  overflow: hidden;
}
Sider{
  width: 400px;
  height: 800px;
  background-color: #3b3e49;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
main{
  height:auto;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
h2,h3{
  margin: auto;
  position: relative;
}
ul{
  list-style-type: none;
  overflow-y: scroll;
  /* scrollbar-width: none; */
}
ul::-webkit-scrollbar{
  /* display: none; */
}

#conv{
  margin: 0;
  height: 100vh;
}
#conv li{
  padding: 2px 0;
}
#conv li.conv-item:hover{
  background-color: #5e616a;
  border: 2px solid burlywood;
}
#conv input{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #5e616a;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0 0 0 20px;
}
#conv input::placeholder{
  color: #fff;
}
#conv li img{
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 8px;
  margin-top: 12px;
  max-width: 55px;
  max-height: 55px;
}
#conv li div{
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}
#conv li h2{
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 7px;
  max-width: 90px;
}
#conv li h3{
  font-size: 12px;
  color: #7e818a;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 0px;
}

.status{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 1px;
}
.green{
  background-color: #58b666;
}
.orange{
  background-color: #ff725d;
}
.blue{
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}

#Chat-header{
  display: flex;
  padding: 0 32px;
}
#Chat-header img{
  margin: auto;
  border-radius: 50%;
  max-height: 55px;
}
#Chat-header h2{
  color: #bbb;
}
#Chat-header .left{
  margin-right: 12px;
}
#Chat-header .right{
  margin-left: 12px;
}

#chat{
  margin: 0;
  height: calc(100vh - 144px);
  border-top: 2px solid #fff;
}
#chat li{
  padding: 10px 15px;
}
#chat h2,#chat h3{
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
#chat h3{
  color: #bbb;
  margin: 0 0.5rem;
}
#chat .entete{
  margin-bottom: 5px;
}
#chat .message{
  color: #fff;
  line-height: 25px;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  padding: 15px;
  max-width: 90%;
}
#chat .message:hover + .delete{
  display: inline;
}
.delete:hover{
 color: orange;
}
.delete{
  display: inline;
}
.delete:hover {
  color:rgb(255, 94, 0);
}
#chat .me{
  text-align: right;
}
#chat .you .message{
  background-color: #58b666;
}
#chat .me .message{
  background-color: #6fbced;
	margin-right: 5px;
}
#chat .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
	border-color: transparent transparent #58b666 transparent;
	margin-left: 15px;
	margin-right: auto;
}
#chat .me .triangle{
	border-color: transparent transparent #6fbced transparent;
	margin-left: auto;
	margin-right: 35px;
}

#Chat-footer{
  display: flex;
}
#Chat-footer div{
  margin-left: 8px;
}

#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  display: inline-block;
}
.site-layout .site-layout-background div {
  width: auto;
  background: #fff;
  display: inline-block; /*讓div並排*/
  border-radius: 3px;
  margin: 20px;
}
