.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: auto auto auto auto;
  
}

.App-title {
  text-align: center;
}

.App-title h1 {
  margin: 0;
  font-size: 3em;
}

.Login-avatar {
  margin: 20px 0 40px 0;
  height: 100px;
}

.Login-btn {
  display:inline-block !important;
  margin: auto;
}
.Registration-btn {
  display: inline-block !important;
  margin: '0 8px';
}

*{
  box-sizing: border-box;
}
/* body{
  margin: auto;
  font-family: Arial;
} */
Layout{
  width: 750px;
  height: 800px;
  background: #eff3f7;
  margin: auto;
  font-size: 0;
  border-radius: 5px;
  overflow: hidden;
}
Sider{
  width: 400px;
  height: 800px;
  background-color: #3b3e49;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
main{
  height:auto;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

aside header{
  padding: 30px 20px;
}
aside input{
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 50px 0 20px;
  background-color: #5e616a;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
  background-repeat: no-repeat;
  background-position: 170px;
  background-size: 40px;
}
aside input::placeholder{
  color: #fff;
}
aside ul{
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: auto;
  /* width: 300px; */
}
aside li{
  padding: 10px 0;
}
aside li:hover{
  background-color: #5e616a;
  border: 2px solid burlywood
}
h2,h3{
  margin: auto;
  position: relative;
}

aside li img{
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 8px;
  margin-top: 12px;
}
aside li div{
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}
aside li h2{
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 7px;
}
aside li h3{
  font-size: 12px;
  color: #7e818a;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 0 px;
}



.status{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 1px;
}
.green{
  background-color: #58b666;
}
.orange{
  background-color: #ff725d;
}
.blue{
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}

main header{
  height: 110px;
  padding: 30px 20px 30px 40px;
}
main header > *{
  display: inline-block;
  vertical-align: top;
}
main header img{
  border-radius: 50%;
}
/* main header img: last-child{
  width: 24px;
  margin-top: 8px;
} */
main header div{
  display: inline;
  margin-left: 10px;
  margin-right: 145px;
}
main header h2{
  font-size: 32px;
  margin-bottom: 5px;
}
main header h3{
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}

header .left {
  display: block;
  float: left;
  margin-right: 12px;
}
header .left img{
  border-radius: 50%;
}

header .right {
  display: block;
  float: right;
  margin-left: 12px;
}

#chat{
  padding-left: 330;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height:    420px;
  /* height: auto; */
  border-top: 2px solid #fff;
}
#chat li{
  padding: 10px 30px;
}
#chat h2,#chat h3{
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
#chat h3{
  color: #bbb;
  margin: 0 0.5rem;
}
#chat .entete{
  margin-bottom: 5px;
}
#chat .message{
  padding: 15px;
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
#chat .message:hover + #delete{
  display: inline;
  
}
#delete:hover{
 color: orange;
}
#delete{
  display: inline;
}
#delete:hover {
  color:rgb(255, 94, 0);
}
#chat .me{
  text-align: right;
}
#chat .you .message{
  background-color: #58b666;
}
#chat .me .message{
  background-color: #6fbced;
}
#chat .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
	border-color: transparent transparent #58b666 transparent;
	margin-left: 15px;
	margin-right: auto;
}
#chat .me .triangle{
	border-color: transparent transparent #6fbced transparent;
	margin-left: auto;
	margin-right: 15px;
}

footer textarea{
  resize: none;
  border: none;
  display: block;
  width: 100%;
  height: 80px;
  border-radius: 3px;
  padding: 20px;
  font-size: 13px;
  margin-bottom: 13px;
}
footer textarea::placeholder{
  color: #ddd;
}
footer img{
  height: 30px;
  cursor: pointer;
}
footer{
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}

footer div {
  display: inline-block;
  /* display: flex; */
  margin-left: 8px;
}
#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  display: inline-block;
}
.site-layout .site-layout-background div {
  background: #fff;
  display: inline-block;/*讓div並排*/ 
  width: auto;
  
  border-radius: 3px;
  margin: 20px;
}
